<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <?php
    if(!empty($resultList)){
        $i = 0;
        echo '<table border="1" width ="100%">';
        echo '<caption>Ket qua tim kiem</caption>';
        echo '<tr>
                <th>IDNV</th>
                <th>Ho ten</th>
                <th>IDPB</th>
                <th>Dia chi</th>
                </tr>';
        while ($i<sizeof($resultList)){
            if(!empty($resultList[$i])){
                echo '<tr>
                    <td>' .$resultList[$i]->IDNV . '</td>
                    <td>' . $resultList[$i]->Hoten . '</td>
                    <td>' . $resultList[$i]->IDPB . '</td>
                    <td>' . $resultList[$i]->Diachi . '</td>';   
                    echo '</tr>';
            }
            $i++;
        }
        echo '</table>';
    }    
    else{
        echo 'Khong co ket qua';
    }
?>
</body>
</html>