<html>
    <head>
       <style>
        body{
            background-color: bisque;
        }
        ul{
          list-style: none;  
          padding-left: 0px;
          text-align: center;
          
        }
        a{
            text-decoration: none;
            text-align: center;
            color: red;
        }
        li{
            border:solid 1px brown;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>
    <script lang="php"></script>
    </head>
    <body >
        <ul>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Admin.php?modLogin=1"" target="_parent">Trang chu</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Nhanvien.php?modXemThongTinNV=1" target="T3">xem thong tin nhan vien</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Phongban.php?modXemThongTinPB=1" target="T3">xem thong tin phong ban</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Nhanvien.php?modTimkiemNhanvien=1" target="T3">Tim kiem</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Phongban.php?modThemNhanvien=1"target="T3">Them nhan vien</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Phongban.php?modThemPhongban=1"target="T3">Them phong ban</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Phongban.php?modCapnhatPhongban=1"target="T3">Cap nhat thong tin phong ban</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Nhanvien.php?modXoaNhanvien=1"target="T3">Xoa nhan vien</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/Controller/C_Nhanvien.php?modXoaAllNhanvien=1"target="T3">Xoa nhieu nhan vien</a></li>
            <li><a href="http://localhost/QuanLyNSPB_MVC/View/index.html"target="_parent">Log out</a></li>
        </ul>
    </body>
</html>