<!DOCTYPE html>
<head>
  
</head>
<body >
    <form action="http://localhost/QuanLyNSPB_MVC/Controller/C_Phongban.php" method="post">
        <center>
         <table>
             <tr>
                 <td>IDPB</td>
                 <td>
                     <input type="text" name="IDPB" value="" >
                 </td>
             </tr>
             <tr>
                 <td>Tenpb</td>
                 <td>
                     <input type="text" name="Tenpb" value="">
                 </td>
             </tr>
            
             <tr>
                 <td>Mota</td>
                 <td>
                     <input type="text" name="Mota" value="">
                 </td>
             </tr>
             <tr>
                 <td>
                     <input type="submit"name="btn-themphongban" value="Them">
                 </td>
                 <td>
                     <input type="reset" value="Reset">
                 </td>
             </tr>
         </table>
        </center>
     </form>
</body>
</html>